<header class="header header-transparent" id="header-main">
	<nav class="navbar navbar-expand-lg navbar-top navbar-dark bg-dark">
		<div class="container px-0">
		  	<a class="navbar-brand" href="#">Workspace</a>
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
		  	</button>
		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          	<img src="{{ url_for('static', filename='img/flags/vne.svg') }}" alt=""> Tiếng Việt
			        </a>
			        <div class="dropdown-menu arrow-tl" aria-labelledby="navbarDropdown">
			          	<a class="dropdown-item" href="#">English
				          	<img src="{{ url_for('static', filename='img/flags/usa.svg') }}" alt="">
		      			</a>
				        <a class="dropdown-item" href="#">English
							<img src="{{ url_for('static', filename='img/flags/eng.svg') }}" alt="">
				      	</a>
			          	<a class="dropdown-item" href="#">Japanese
							<img src="{{ url_for('static', filename='img/flags/jpn.svg') }}" alt="">
			          	</a>
			          	<div class="dropdown-divider"></div>
			          	<a class="dropdown-item" href="#">Tiếng Việt
							<img src="{{ url_for('static', filename='img/flags/vne.svg') }}" alt="">
			          	</a>
			        </div>
			      </li>
			    </ul>
			    <ul class="navbar-nav ml-auto">
			      	<li class="nav-item">
			        	<a class="nav-link" href="#">User guide</a>
			      	</li>
			      	<li class="nav-item">
			        	<a class="nav-link" href="#"><i class="far fa-search"></i></a>
			      	</li>
			      	<li class="nav-item">
			        	<a class="nav-link" href="#"><i class="far fa-bell"></i></a>
			      	</li>
			      	<li class="nav-item">
			        	<a class="nav-link" href="#"><i class="fal fa-user-circle"></i></a>
			      	</li>
			    </ul>
		  	</div>
		</div>
	</nav>
	<nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-0">
		<div class="container px-0">
	  	<a class="navbar-brand" href="#" data-toggle="tooltip" data-placement="right" data-html="true" title="Click to Lampart workspace"><img class="company-logo" src="{{ url_for('static', filename='img/lampart.svg') }}" alt="">Lampart</a>
	  	<div class="mr-auto">
		    <ul class="navbar-nav">
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Apartment
		        </a>
		        <div class="dropdown-menu arrow-tl" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Bussiness Analysic</a>
		          <a class="dropdown-item" href="#">Bridge System Engineer</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Developer</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Information & Communication Technology</a>
		          <a class="dropdown-item" href="#">Quality Controller</a>
		          <a class="dropdown-item" href="#">Administrator</a>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Agile
		        </a>
		        <div class="dropdown-menu arrow-tl" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Project A</a>
		          <a class="dropdown-item" href="#">Project B</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Project C</a>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Annual leave
		        </a>
		        <div class="dropdown-menu arrow-tl" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Annual leave</a>
		          <a class="dropdown-item" href="#">Annual leave</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Annual leave</a>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Checking
		        </a>
		        <div class="dropdown-menu arrow-tl" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Check in</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Check out</a>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          My task
		        </a>
		        <div class="dropdown-menu arrow-tl" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">#Task 1234</a>
		          <a class="dropdown-item" href="#">#Task 1234</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">#Task 1234</a>
		        </div>
		      </li>
		    </ul>
		</div>
		<div class="ml-auto py-3">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Article</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Meetting Room</a>
		      </li>
		      <li class="nav-item">
		        <a href="#" class="btn btn-sm btn-light btn-top-navbar rounded-pill px-5">Register</a>
		      </li>
		    </ul>
	  	</div>
		</div>
	</nav>
</header>