@charset "utf-8";

p {
  margin: 0;
  padding: 0;
}

#pagetop {
  position: fixed;
  width: 40px;
  height: 40px;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  cursor: pointer;

}

.current {
  color: #fff !important;
  background: #17a2b8 !important;
  i {
    color: #fff !important;
  }

}

.navbar {
  -moz-box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}

.mx-800 {
  max-width: 800px !important;
}

.bg-light {
  background: #dff0f9 !important;
}

.bg-orange {
  background: #ff6d15 !important;
}

.bg-lightdark {
  background: #cccccc !important;
}

.light-orange {
  background: #ffeed9;
}

.light-green {
  background: #b7ead1;
}

.light-pink {
  background: #ffe4e4;
}

.text-decoration {
  text-decoration: underline !important;
}

.main-ttl {
  font-size: 1.4rem;
  font-weight: bold;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ab2c6+2,1b3787+100 */
  background: #2ab2c6; /* Old browsers */
  background: -moz-linear-gradient(left, #2ab2c6 2%, #1b3787 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2ab2c6 2%, #1b3787 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2ab2c6 2%, #1b3787 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ab2c6', endColorstr='#1b3787', GradientType=1); /* IE6-9 */
  color: #fff;
}

#sidebar-wrapper {
  background: #dff0f9;
  a.list-group-item {
    background: #dff0f9;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 0;
    color: #21445b;
    font-size: 0.8rem;
    position: relative;
    padding-left: 2.7rem;
    &.other {
      background: #216c94;
      color: #fff;
      &:after {
        border-color: #fff;
      }
      i {
        color: #fff;
      }
    }
    &.icon {
      padding-left: 1.25rem;
    }
    i {
      color: #70b2d5;
      margin-right: 0.5rem;
      display: inline-block;
      width: 15px;
      text-align: center;
      &.fa-file-alt {
        margin-right: 0.9rem;
      }

    }
    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      width: 7px;
      height: 7px;
      border-right: 2px solid #21445b;
      border-bottom: 2px solid #21445b;
      display: block;
      transform: rotate(-45deg);
      margin-top: -5px;
    }
  }
  span.list-group-item {
    background: #70b2d5;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 0;
    color: #fff;
    font-size: 0.8rem;
    i {
      color: #fff;
      margin-right: 0.5rem;
    }
  }
}

.otoku-slide {
  display: flex;
  margin: 0 -15px;
  .slick-slide {
    margin: 0 15px;
    a {
      display: block;
      //padding: 0 15px;
    }
  }
  .slick-prev, .slick-next {
    width: 2%;
    height: 100px;
    top: 50%;
    margin-top: -17x;
    background: #97c1d5;
    opacity: 1;
  }
}

.carousel-item, .thumb-link {
  a {

  }
}

.container-fluid {
  max-width: 1400px;

}

.container-fluid.top {

  padding: 0;

  font-size: 0.8rem;
}

.alert {
  color: #fff;
  font-size: 1rem;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f06262+0,de2367+100 */
  background: #f06262; /* Old browsers */
  background: -moz-linear-gradient(left, #f06262 0%, #de2367 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f06262 0%, #de2367 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f06262 0%, #de2367 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f06262', endColorstr='#de2367', GradientType=1); /* IE6-9 */
  i {
    font-size: 80%;
  }
  a {
    color: #fff;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.top-bg {
  max-width: 1400px;
  margin: 0 auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#afe8e5+0,addff9+100 */
  background: #afe8e5; /* Old browsers */
  background: -moz-linear-gradient(left, #afe8e5 0%, #addff9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #afe8e5 0%, #addff9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #afe8e5 0%, #addff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afe8e5', endColorstr='#addff9', GradientType=1); /* IE6-9 */
}

.card-body {
  border-radius: 3px;
  font-size: 1rem;
  transform: rotate(0.001deg);
  .card-title {
    font-size: 1.4rem;
  }
  .card-day {
    font-size: 2rem;
    span {
      font-size: 1rem;
    }
  }
  .card-status {
    border-radius: 3px;
    font-size: 0.9rem;
  }
  .card-list {
    list-style: none;
    padding: 0;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }
  .btn {
    background: none;
    border-radius: 40px;
    border: 1px solid #fff;
    display: block;
    text-decoration: none;
    padding: 1.2rem 0;
    position: relative;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
    &:after {
      content: '';
      position: absolute;
      right: 30px;
      top: 50%;
      width: 12px;
      height: 12px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      display: block;
      transform: rotate(-45deg);
      margin-top: -6px;
    }
  }

}

.first-sche {
  .card-body {
    height: 100%;
    color: #fff;
    -moz-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    -ms-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7967d+0,e56042+100 */
    background: #e7967d; /* Old browsers */
    background: -moz-linear-gradient(left, #e7967d 0%, #e56042 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e7967d 0%, #e56042 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e7967d 0%, #e56042 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7967d', endColorstr='#e56042', GradientType=1); /* IE6-9 */
    .card-status {
      background: rgba(0, 0, 0, 0.3);
    }

  }
}

.teiki-sche {
  .card-body {
    height: 100%;
    color: #fff;
    -moz-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    -ms-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#63b6f2+0,0278e0+100 */
    background: #63b6f2; /* Old browsers */
    background: -moz-linear-gradient(left, #63b6f2 0%, #0278e0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #63b6f2 0%, #0278e0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #63b6f2 0%, #0278e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    .card-status {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

.add-sche {
  .card-body {

    height: 100%;
    color: #fff;
    -moz-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    -ms-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#56d9b7+0,00a390+100 */
    background: #56d9b7; /* Old browsers */
    background: -moz-linear-gradient(left, #56d9b7 0%, #00a390 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #56d9b7 0%, #00a390 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #56d9b7 0%, #00a390 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56d9b7', endColorstr='#00a390', GradientType=1); /* IE6-9 */
    .card-status {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

.other-sche {
  .card-body {

    height: 100%;
    color: #fff;
    -moz-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    -ms-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.58);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aa84df+0,9458c7+100 */
    background: #aa84df; /* Old browsers */
    background: -moz-linear-gradient(left, #aa84df 0%, #9458c7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #aa84df 0%, #9458c7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #aa84df 0%, #9458c7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa84df', endColorstr='#9458c7', GradientType=1); /* IE6-9 */
  }
  .card-status {
    background: rgba(252, 255, 0, 0.3);
  }
}

.top {
  .user_info {

    a {
      font-size: 1rem;
      padding: 20px;
      border-radius: 3px;

      display: block;
      color: #fff;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ab1c6+0,1b3787+100 */
      background: #2ab1c6; /* Old browsers */
      background: -moz-linear-gradient(left, #2ab1c6 0%, #1b3787 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #2ab1c6 0%, #1b3787 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #2ab1c6 0%, #1b3787 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ab1c6', endColorstr='#1b3787', GradientType=1); /* IE6-9 */
    }
    span {
      font-size: 1.4rem;
      display: inline-block;
      padding-right: 0.7rem;
    }
  }
  .user_point {
    font-size: 1rem;

    a {
      padding: 20px;
      border-radius: 3px;
      display: block;

      transform: rotate(0.001deg);
      color: #fff;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d5bd1e+0,cf7000+100 */
      background: #d5bd1e; /* Old browsers */
      background: -moz-linear-gradient(left, #d5bd1e 0%, #cf7000 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #d5bd1e 0%, #cf7000 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #d5bd1e 0%, #cf7000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5bd1e', endColorstr='#cf7000', GradientType=1); /* IE6-9 */
      height: 100%;
      align-items: center;
      display: flex;
      span {
        font-size: 1.8rem;
        display: inline-block;
      }
    }
  }

}

.user_rank {

  div {
    font-size: 1rem;
    padding: 20px;
    border-radius: 3px;
    height: 100%;

    display: block;
    color: #fff;
    align-items: center;
    display: flex;
    font-size: 1.3rem;
  }
  span {
    font-size: 1.4rem;
    display: inline-block;
    padding-right: 0.7rem;
  }
}

.user_point_use {
  font-size: 1rem;

  a {
    padding: 20px;
    border-radius: 3px;
    display: block;

    transform: rotate(0.001deg);
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d5bd1e+0,cf7000+100 */
    background: #d5bd1e; /* Old browsers */
    background: -moz-linear-gradient(left, #d5bd1e 0%, #cf7000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d5bd1e 0%, #cf7000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #d5bd1e 0%, #cf7000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5bd1e', endColorstr='#cf7000', GradientType=1); /* IE6-9 */
    height: 100%;
    align-items: center;
    display: flex;
    span {
      font-size: 1.8rem;
      display: inline-block;
    }
  }
}

.icon-nav01 {
  a {
    height: 100%;
    background: #dff0f9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 3px;
    // 中央寄せ
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #21445b;
    &:hover {
      text-decoration: none;
    }
    i {
      font-size: 3rem;
      padding: 35px 0 20px;

    }
    span {
      display: block;
      font-size: 1rem;
      padding-bottom: 30px;
    }
  }

}

.icon-nav02 {
  a {
    height: 100%;
    background: none;
    border: none;

    color: #21445b;
    &:hover {
      background: none;
    }
    &:hover {
      text-decoration: none;
    }
    i {
      font-size: 1.4rem;
      padding-right: 10px;
      vertical-align: middle;
    }
    p {
      border-bottom: 2px solid #cccccc;
      padding-bottom: 10px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        width: 12px;
        height: 12px;
        border-right: 2px solid #21445b;
        border-bottom: 2px solid #21445b;
        display: block;
        transform: rotate(-45deg);
        margin-top: -12px;
      }
    }

  }

}

.base-btn {
  a {
    display: block;
    padding: 1.4rem;
    background: url('../img/btn_bg.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    border-radius: 60px;
    width: 100%;
    color: #fff;
    position: relative;

    -moz-box-shadow: 4px 4px 18px -7px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 4px 4px 18px -7px rgba(0, 0, 0, 0.9);
    -ms-box-shadow: 4px 4px 18px -7px rgba(0, 0, 0, 0.9);
    box-shadow: 4px 4px 18px -7px rgba(0, 0, 0, 0.9);
    &:after {
      content: '';
      position: absolute;
      right: 30px;
      top: 50%;
      width: 10px;
      height: 10px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      display: block;
      transform: rotate(-45deg);
      margin-top: -4px;
    }
  }
}

.btn-form {
  padding: 1.4rem;
  border-radius: 60px;
  color: #fff;
  position: relative;
  -moz-box-shadow: 4px 4px 18px -7px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 4px 4px 18px -7px rgba(0, 0, 0, 0.9);
  -ms-box-shadow: 4px 4px 18px -7px rgba(0, 0, 0, 0.9);
  box-shadow: 4px 4px 18px -7px rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
  &:after {
    content: '';
    position: absolute;
    right: 30px;
    top: 50%;
    width: 12px;
    height: 12px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: block;
    transform: rotate(-45deg);
    margin-top: -5px;
  }
  &.btn-prev {
    &:after {
      content: '';
      position: absolute;
      left: 30px;
      top: 50%;
      display: block;
      transform: rotate(135deg);
      margin-top: -5px;
    }
  }
}

.pagenation {
  a {
    transition: 0.3s all ease-in-out;
    &:hover {
      text-decoration: none;
    }
    &:after {
      content: '';
      position: absolute;
      right: 30px;
      top: 50%;
      width: 8px;
      height: 8px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      display: block;
      transform: rotate(-45deg);
      margin-top: -4px;

    }
    &.btn-prev {
      &:after {
        content: '';
        position: absolute;
        left: 30px;
        top: 50%;
        display: block;
        transform: rotate(135deg);
      }
    }
  }

}

.price-table {
  span.price-number {
    font-size: 170%;
    line-height: 1;
    font-weight: bold;
  }

}

.bg-success {
  background-color: #14be80 !important;
}

.bg-secondary {
  background-color: #8b9ba6 !important;
}

.bg-grad-blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#63b6f2+0,0178e0+100 */
  background: #63b6f2; /* Old browsers */
  background: -moz-linear-gradient(left, #63b6f2 0%, #0178e0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #63b6f2 0%, #0178e0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #63b6f2 0%, #0178e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b6f2', endColorstr='#0178e0', GradientType=1); /* IE6-9 */
}

.bg-grad-green {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#55d9b7+0,01a390+100 */
  background: #55d9b7; /* Old browsers */
  background: -moz-linear-gradient(left, #55d9b7 0%, #01a390 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #55d9b7 0%, #01a390 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #55d9b7 0%, #01a390 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55d9b7', endColorstr='#01a390', GradientType=1); /* IE6-9 */
}

.bg-grad-purple {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aa84df+0,9459c7+100 */
  background: #aa84df; /* Old browsers */
  background: -moz-linear-gradient(left, #aa84df 0%, #9459c7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #aa84df 0%, #9459c7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #aa84df 0%, #9459c7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa84df', endColorstr='#9459c7', GradientType=1); /* IE6-9 */
}

.bg-grad-red {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7957d+1,e56142+100 */
  background: #e7957d; /* Old browsers */
  background: -moz-linear-gradient(left, #e7957d 1%, #e56142 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #e7957d 1%, #e56142 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #e7957d 1%, #e56142 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7957d', endColorstr='#e56142', GradientType=1); /* IE6-9 */
}

.bg-grad-gold {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bcad57+0,946900+100 */
  background: #bcad57; /* Old browsers */
  background: -moz-linear-gradient(left, #bcad57 0%, #946900 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #bcad57 0%, #946900 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #bcad57 0%, #946900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcad57', endColorstr='#946900', GradientType=1); /* IE6-9 */
}

.qa-list {

  a {
    &:first-child {
      border-top: 1px solid #cccccc;
    }

    background: url('../img/icon_q.png') no-repeat 1rem;
    position: relative;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 0;

    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      width: 12px;
      height: 12px;
      border-right: 2px solid #24465d;
      border-bottom: 2px solid #24465d;
      display: block;
      transform: rotate(-45deg);
      margin-top: -7px;
    }

  }
}

.news-list {

  a {
    &:first-child {
      border-top: 1px solid #cccccc;
    }

    border: none;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 0;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      width: 12px;
      height: 12px;
      border-right: 2px solid #24465d;
      border-bottom: 2px solid #24465d;
      display: block;
      transform: rotate(-45deg);
      margin-top: -7px;
    }
    .badge-info {
      background: #63ce63;
      padding: 5px 0.8rem;
      margin-left: 0.8rem;
      font-size: 0.7rem;
    }
    .ttl {
      display: inline-block;
      margin-left: 0.8rem;
    }

  }
}

.arrow-link {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 20px;
    width: 10px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    margin-top: -5px;

  }
}

.ttl_icon {
  font-size: 1.4rem;
  color: #333333;
  font-weight: bold;
  &:before {
    content: '';
    background: url('../img/icon01.png') no-repeat left center;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    vertical-align: 1px;

  }
  span {
    font-size: 140%;
  }
}

.copyright {
  text-align: center;
  background: #21445b;
  color: #fff;
  p {
    font-size: 0.7rem;

  }
}

.light-btn {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    width: 10px;
    height: 10px;
    border-right: 2px solid #24465d;
    border-bottom: 2px solid #24465d;
    display: block;
    transform: rotate(-45deg);
    margin-top: -5px;
  }
}

.datepicker-wrap {
  position: relative;
  display: block;
  width: 100%;
  &:after {
    content: '▼';
    font-size: 60%;
    color: #666;
    position: absolute;
    left: 63%;
    top: 50%;
    margin-top: -8px;
  }
}

.proceed {
  font-size: 0;
  list-style: 0;

  li {
    display: inline-block;
    width: 33.33%;
    font-size: 1rem;

    &:first-child {
      span {
        &:before {
          content: none;
        }

      }

    }
    &:last-child {
      span {
        width: 100%;
        &:after {
          content: none;
        }

      }
    }
    span {
      display: block;
      padding: 10px 0;
      width: calc(100% - 40px);
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 22px 0 22px 20px;
        border-color: transparent transparent transparent #fff;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 22px 0 22px 20px;
        border-color: transparent transparent transparent #8b9ba6;
      }
      &.bg-primary {
        &:after {
          border-color: transparent transparent transparent #007bff;
        }
      }

    }

  }

}

.balloon_required_app {
  width: 100%;
  height: 60px;
  display: table;
  background-color: #C9D1D4;
}

.balloon_required_app > div.close_button {
  height: 100%;
  text-align: center;
  width: 6%;
  padding: 0 5px;
}

.balloon_required_app > div > img.balloon_img_logo {
  height: 40px;
  width: auto;
  border-radius: 10px;
}

.balloon_required_app > div {
  display: table-cell;
  font-size: 1;
  line-height: 1;
  vertical-align: middle;
}

.balloon_required_app > div.balloon_title {
  text-align: left;
  width: 60%;
  font-size: 0.8rem;
  line-height: 1.2;
}

.balloon_required_app > div.balloon_button {
  text-align: center;
}

.balloon_required_app > div.balloon_button > a {
  font-size: 8px;
  padding: 5px;
  border: unset;
  border-radius: 5px;
  color: white;
  background-color: #27BEEF;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  h1 {
    img {
      height: 53px;
    }
  }
  .ft-sitemap {
    background: #eeeeef;
    text-align: center;
    div {
      justify-content: center;

    }
    a {
      background: none;
      border: none;
      font-size: 0.7rem;
      &:hover {
        background: none;

      }
    }
  }
}

.btn-time {
  a {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
  }
}

@media (max-width: 767px) {

  .user_rank {

    div {
      border-radius: 0px;
    }

  }
  .user_point_use {
    a {
      border-radius: 0px;
    }
  }

  .proceed {
    li {
      span {
        display: block;
        padding: 10px 0;
        width: calc(100% - 30px);
        position: relative;
        padding-left: 15px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 22px 0 22px 20px;
          border-color: transparent transparent transparent #fff;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 100%;
          top: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 22px 0 22px 20px;
          border-color: transparent transparent transparent #8b9ba6;
        }
        &.bg-primary {
          &:after {
            border-color: transparent transparent transparent #007bff;
          }
        }

      }

    }

  }

  .datepicker-wrap {
    &:after {
      left: auto;
      right: 10px;
    }
  }

  .btn-time {
    a {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
      align-items: center; /* 縦方向中央揃え */
      -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
      justify-content: center; /* 横方向中央揃え */
    }
  }

  .light-btn {
    position: relative;
    height: 100%;

    &:after {
      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      width: 7px;
      height: 7px;
      border-right: 2px solid #24465d;
      border-bottom: 2px solid #24465d;
      display: block;
      transform: rotate(-45deg);
      margin-top: -3px;
    }
  }
  body {
    overflow-x: hidden;
    width: 100%;
  }
  img {
    max-width: 100%;
  }
  h1 {
    font-size: 1.6rem;
  }

  .nav-fix.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
  }
  #menu-toggle {

  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: absolute;

    bottom: 10px;
    border: none;
    background: none;
    position: absolute;
    right: 10px;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    padding: 15px 10px;

  }
  .menu-trigger span {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 1px;
    background-color: #26465a;
    border-radius: 4px;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 13px;

  }
  .menu-trigger span:nth-of-type(2) {
    top: calc(50% - 1px);
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 14px;
  }
  .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
    top: 0px;
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    top: 40px;
  }
  #sidebar-wrapper {

    width: 100%;
    position: fixed;
    top: 53px;
    left: 0;
    z-index: 99;
    margin: 0;
    height: calc(100vh - 54px);
    min-height: unset;
    display: none;
    overflow-y: scroll;

    .list-group {
      display: inherit;
      width: 100%;
    }

  }

  .navbar {
    /*
        position: fixed;
        top:0;
        left:0;*/
    width: 100%;
    img {
      width: 50%;
    }
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .container-fluid {

  }
  .container-fluid.top {
    padding: 0;

    margin-left: 0px;
    margin-right: 0px;
    font-size: 0.8rem;
    width: 100%;
    max-width: 100%;
  }
  .top-bg {
    background: #dff0f9;
  }
  .alert {
    border-radius: 0;
    font-size: 0.8rem;
  }

  .top {
    .user_info {
      padding: 0;
      a {
        border-radius: 0;
      }
    }
    .user_point {
      padding: 0;
      a {
        border-radius: 0;
        padding: 10px 20px;
      }
    }
  }

  .ttl_icon {
    font-size: 1.1rem;
    text-align: left !important;
    margin-bottom: 15px;

    &:before {
      content: '';
      background: url('../img/icon01_sp.png') no-repeat left center;
      background-size: auto 100%;
      display: inline-block;
      width: 3px;
      height: 20px;
      margin-right: 5px;
      vertical-align: -2px;

    }
    span {
      font-size: 120%;
    }

  }
  .card-body {
    padding-top: 10px;

    .card-title {
      display: inline-block;
      font-size: 1rem;
    }
    .card-day {
      display: inline;
      margin-left: 0.5rem;
      font-size: 1.4rem;

    }
    .btn {

      padding: 0.8rem 0;
      font-size: 0.8rem;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
      &:after {
        content: '';
        position: absolute;
        right: 20px;
        top: 50%;
        width: 8px;
        height: 8px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        display: block;
        transform: rotate(-45deg);
        margin-top: -4px;
      }
    }
  }
  .first-sche, .teiki-sche, .add-sche {
    margin-bottom: 15px;
  }
  .icon-nav01 {
    & > div {
      margin-bottom: 10px;
      padding-left: 7px;
      padding-right: 7px;
    }
    a {
      i {
        font-size: 2rem;
        padding: 20px 0 10px;
      }
      span {
        font-size: 0.8rem;
        padding-bottom: 15px;
      }
    }
  }
  .carousel-control-next, .carousel-control-prev {
    width: 5%;
  }
  .carousel-item div {
    margin-bottom: 25px;
  }
  .thumb-link {
    & > div {
      margin-bottom: 25px;
      img {
        width: 100%;
      }

    }
  }
  .qa-list {
    a {
      background: url(../img/icon_q.png) no-repeat 0rem 12px;
      background-size: 20px;
      position: relative;
      border: none;
      border-bottom: 1px solid #cccccc;
      margin-bottom: 0;
      &:after {
        right: 10px;
        width: 8px;
        height: 8px;
        margin-top: -4px;
      }
    }
  }
  .base-btn {
    a {
      padding: 1rem 1.4rem;
      &:after {
        right: 25px;
        width: 8px;
        height: 8px;
        margin-top: -4px;
      }
    }
  }
  .news-list {
    padding-right: 0;
    a {
      padding-left: 0;
      padding-right: 20px;
      .badge-info {
        padding: 3px 0.8rem;
      }
      .ttl {
        margin-left: 0;
        display: block;
        margin-top: 5px;
      }
      &:after {
        right: 10px;
        width: 8px;
        height: 8px;
        margin-top: -4px;
      }
    }
  }
  .ft-sitemap {
    text-align: left;
    background: #eeeeef;
    a {
      font-size: 0.8rem;
      position: relative;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,eeeeef+100 */
      background: #fefefe; /* Old browsers */
      background: -moz-linear-gradient(top, #fefefe 0%, #eeeeef 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #fefefe 0%, #eeeeef 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #fefefe 0%, #eeeeef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#eeeeef', GradientType=0); /* IE6-9 */
      &:after {
        position: absolute;
        content: '';
        top: 50%;
        right: 10px;
        width: 8px;
        height: 8px;
        border-right: 2px solid #21445b;
        border-bottom: 2px solid #21445b;
        transform: rotate(-45deg);
        margin-top: -4px;

      }
    }
  }
  .news-notification {
    font-size: 0.8rem;
    background: #fff;
    a {
      color: #000;
      text-decoration: none;
      display: block;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        top: 50%;
        right: 5px;
        width: 10px;
        height: 10px;
        border-right: 2px solid #21445b;
        border-bottom: 2px solid #21445b;
        transform: rotate(45deg);
        margin-top: -8px;
      }
    }
    .badge-info {
      font-size: 80%;
      margin: 0 0.6rem;
      padding: 2px 0.8rem 4px;
      background: #63ce63;
    }
  }
  .otoku-slide {
    display: flex;
    margin: 0 0px;
    .slick-slide {
      margin: 0 0px;
      a {
        display: block;
        //padding: 0 15px;
      }
    }
    .slick-prev, .slick-next {
      width: 20px;
      height: 100px;
      top: 50%;
      margin-top: -17px;
      background: #97c1d5;
      opacity: 1;
    }
  }
  /*
    .main-ttl{
      margin-top: 61px;
    }*/
  .btn-form {
    padding: 0.9rem 1.4rem;
    border-radius: 60px;
    color: #fff;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      width: 10px;
      height: 10px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      display: block;
      transform: rotate(-45deg);
      margin-top: -4px;
    }
    &.btn-prev {
      &:after {
        content: '';
        position: absolute;
        left: 20px;
        top: 50%;
        display: block;
        transform: rotate(135deg);
        margin-top: -4px;
      }
    }
  }

  .price-table {
    th {
      width: 32% !important;
    }

  }

}

.agree_name {
  font-size: 1.2rem;
  font-weight: bold;
  span {
    font-size: 120%;
  }
}

.download-list {
  .card-body {
    border: 1px solid #cccccc;
    border-radius: 3px;

  }
  .card-price {
    border-top: 1px solid #cccccc;
    padding-right: 128px;
    position: relative;
    span {
      span {
        font-size: 160%;
      }
    }
  }
  .checkbox {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -13px;
  }
  .badge {
    font-size: 70%;
  }
}

.download-list {
  .card-body {
    border: 1px solid #cccccc;
    border-radius: 3px;

  }
  .card-price {
    border-top: 1px solid #cccccc;
    padding-right: 128px;
    position: relative;
    span {
      span {
        font-size: 160%;
      }
    }
  }
  .checkbox {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -13px;
  }
  .badge {
    font-size: 70%;
  }
}

.history-list {
  .card-body {
    border: 1px solid #cccccc;
    border-radius: 3px;
    a {
      color: #70b2d5;
    }

  }
  .card-btn {
    border-top: 1px solid #cccccc;
    padding-right: 128px;
    position: relative;
    span {
      span {
        font-size: 160%;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  .history-badge {
    position: absolute;
    right: 15px;
    top: 23px;

  }
  .badge {
    font-size: 120%;
  }
}

.large {
  font-size: 160%;
}

.pagination {
  justify-content: center;
}

a:hover {
  text-decoration: none;
}

.news-tab {
  border: 1px solid #14be80;
  border-radius: 3px;
  display: flex;
  li {
    list-style: none;
    width: 50%;
    a {
      display: block;
      transition: 0.3s all ease-in-out;
      color: #14be80;
      &:hover {
        background: #14be80;
        color: #fff;

      }
    }

  }
}

@media (max-width: 1100px) {
  .base-btn {
    a {
      font-size: 0.9rem;
      padding-right: 40px;
    }
  }
}

.friend {
  img {
    display: block;
    margin: 0 auto;
    max-width: 960px;
  }
}

.form-control[readonly] {
  background: #fff !important;
}

.form-control:disabled {
  background-color: #cccccc !important;
  opacity: 1;
}

#intro_data {
  display: none;
}

.pref-search {
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #1e7e34 !important;
  }
}

/***********/
.header-transparent {
    .navbar-top,
    .navbar-transparent{
      background-color: transparent!important;
      &.navbar-transparent{
        box-shadow:none!important;
        z-index: 1;
      }
      .dropdown-item{
        svg{
          float:right;
        }
      }
      svg{
        width: 25px;
        height: 20px;
      }
      .fal.fa-user-circle{
        font-size: 1.5rem;
      }
    }
}